/vendor/
/node_modules/
.env
.env.backup
.env.example
.env.local
.env.old
storage/*.key
public/hot
public/storage
storage/framework/
storage/logs/
storage/debugbar/
homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
.php_cs.cache
.phpunit.result.cache
